<div class="tile" id="new_a">
	<div id="header" class="center">
		<%= image_tag "header.png" %>
	</div>

	<h1 class="center">Create your own little magazine. Ready to print.</h1>


<%= render 'form' %>

<%= link_to 'Back', booklets_path %>
